
body{
    background-color: rgb(248, 246, 246);
    min-width: 320px;
}

/*Headline part*/
#header{
    color: crimson;
    text-decoration: underline;
    text-decoration-color:crimson;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
/*End of HeadLine part*/

/*Container part*/
div.content{
    background-color :white;
    height: auto;
    padding: 4%;
    border: 2px dashed maroon;
    margin: unset;
    margin:6%;
    margin-top: 1.5%;
}

.container{
    width: 100%;
    padding: 10px;
}
/*End of Contailner part*/

/*Profile Intro part*/
#profile{
    font-size: initial;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
}

div.head1_content{
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    padding: 10px;
    margin-bottom: -30px;
}
#profile_img{
    height: 100%;
    width: 17%;
    border: 4px solid rgb(220, 221, 221);
    border-radius: 5%;
}

/*Profile Intro part*/

/*Heading part*/
div.head{
    background-color: rgb(183, 211, 183);
    font-family: 'Courier New', Courier, monospace;
    font-size: initial;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: -4px;
    padding-bottom: -5px;
    border: 1px solid black;
}
/*End of Heading part*/

/*Qualification Details*/

div.marks table, div.marks table th, div.marks table td{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1%;
}

div.marks table th{
    background-color: rgb(248, 246, 246);
}
div.marks{
    margin-top: 40px;
}
.table{
    max-width: 100%;
    padding: auto;
}

/*End of Qualification Details*/

/*Knowledge in software & Personal Profile*/
table.tbl_sk{
    padding: 10px;
    text-align: left;
    margin-left: 2%;
    padding-right: 2%;
    width: 100%;
}
/*End of Knowledge in Software & Personal Profile*/

/*College Project Work Details*/
div.proj_name{
    text-align: center;
    font-size: inital;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 30px;
}
div.proj_content{
    font-size: inital;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
/*End of College Project Work Details*/

/*Personal Skills*/
div.p_skill{
    font-size: inital;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-top: 10px;
}
#item{
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}
/*End of Personal Skills*/

/*Responsive using MediaQuery*/
html,th,strong{
    font-size: 1rem;
}
@media (max-width : 350px){
   
    #profile_img{
        float: top center;
        height: 65%;
        width: 100%;
        margin-bottom: 10%;
    }
    #profile_content{
        font-size: 5vw;
    }
    #profile{
        margin-bottom: -7%;
    }
    #header{
        font-size: 1.5rem;
    }
    
    
}
@media(min-width:369px) and (max-width:700px){
    .table{
        max-width: 100%;
        padding: auto;
    }
    .table tr{
        font-size: 12px;
        width: -70%;
        height: -70%;
    }
    .table th{
        font-size: 10px;
        
    }
}
@media(min-width:369px) and (max-width:700px){
    .table{
        max-width: 100%;
        padding: auto;
    }
    .table tr{
        font-size: 12px;
        width: -70%;
        height: -70%;
    }
    .table th{
        font-size: 10px;
        
    }
}

@media (min-width : 350px)
{
   html{font-size: 1.25rem;}
    #header{
    font-size: 1.25rem;
    }
    table.personal_profile{
        padding: 15px;
        padding-right: 10%;
    }
    div.profile{
        padding-bottom: 2rem;
    }
}

@media (min-width : 768px)
{
    html{font-size: 1.25rem;}
       
    #profile_img{
        height: 7rem;
        width: 8rem;
        margin-top: -2%;
    }
    div.profile{
        padding-bottom: 100px;
    }
        
}
@media (min-width : 992px){
    html{font-size: 1.6em;}
    div.head1_content{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #header{
        font-size: 1.5rem;
    }
    .table{
        width: 100%;
    }
}

@media (min-width : 2000px){
    html{font-size: 2em;}

    #header{
        font-size: 2rem;
    }
}

@media(min-width:0px) and (max-width:369px){
    .table{
        max-width: 100%;
        padding: auto;
    }
    .table tr{
        font-size: 10px;
        width: -90%;
        height: -90%;
    }
    .table th{
        font-size: 8px;
        
    }
}

/*End of making Responsive part*/